* {
  font-family: "Kanit";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Start coding here */
body {
  background-color: black;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.food {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

.title {
  position: absolute;
  color: white;
  top: 290px;
  left: 10px;
  z-index: 2;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0);
}

.location {
  position: absolute;
  background-color: rgb(94, 94, 94);
  padding: 3px 12px;
  z-index: 3;
  color: white;
  left: 563px;
  top: 25px;
}
