* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container header {
  width: 100%;
  height: 50px;
  padding: 8px 0 10px 20px;
  background-color: rgb(111, 110, 124);
  color: white;
  text-align: left;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 400px;
  left: 50px;
}

.left-item {
  width: 200px;
  height: 35px;
  padding: 6px;
  border-radius: 16px;
  background-color: rgb(111, 110, 124);
  text-align: left;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100px;
  right: 50px;
}

.right-item {
  width: 200px;
  height: 35px;
  padding: 6px;
  border-radius: 16px;
  background-color: limegreen;
  text-align: left;
}

.right-item-2 {
  width: 200px;
  height: 35px;
  padding: 6px;
  border-radius: 16px;
  background-color: lightgray;
  text-align: left;
  position: relative;
}

.right-item_x {
  background-color: rgb(111, 110, 124);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  color: white;
  position: absolute;
  top: 42px;
  right: 2px;
}
